body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
  }

  .first-section {
    position: relative;
    height: 657px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/bg_1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

.navigation{
  background-color: #fff;
  padding: 35px 100px;
  display: flex;
  justify-content: space-between;
  height: 90px;
}
.navigation ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
}
.navigation ul li{
  margin-left: 40px;
}

  .navigation li:first-child {
    margin-left: 0;
  }

.navigation ul li a{
    text-decoration: none;
    color: #000;
    padding: 0 20px;
    font-size: 20px;
    transition: color 0.3s ease-in-out;
    margin-top:-70px;
}
  .navigation a:hover,
  #active-page {
    color: #f89d13;
  }
.navigation .menu-btn i{
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  display: none;
}

input[type="checkbox"]{
  display: none;
}

  .text-container{
    margin-top:110px;
  }

  .main-text{
    color:#fff;
    text-align: center;
    font-size:70px;
    font-weight: bold;
  }

  .sub-text{
    color:rgba(255, 255, 255, 0.5);
    text-align: center;
    line-height: 1.5;
  }

  #home{
    color:#f89d13;
  }

  .animated-text {
    opacity: 0;
    animation: fade-in 1s ease-in-out forwards;
  }

  .contact-section {
    background-color: #fff;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65vh;
    margin-top: 300px;
    margin-left:-500px;
  }
  
  .contact-section #contact {
    background-color: #fff;
    border-radius: 5px;
    padding: 30px;
    max-width: 500px;
  }
  
  .contact-section .contact-info {
    list-style: none;
    padding: 0;
  }
  
  .contact-section .contact-info li {
    margin-bottom: 15px;
    font-size: 16px;
  }
  
  .contact-section .contact-info i {
    margin-right: 10px;
    color: #333;
  }

  .contact-section .contact-info span {
    color: #6c757d;
  }

  footer {
    background-color: #333;
    padding: 20px;
    color: #fff;
    margin-top:100px;
  }

  .footer-section {
    margin-bottom: 20px;
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .footer-section h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .footer-section ul {
    list-style-type: none;
    padding-left: 0;
  }

  .footer-section ul li {
    margin-bottom: 5px;
    color: rgba(255, 255, 255, 0.5);
    transition: color 0.3s;    
  }

  .footer-section ul li:hover,
  .footer-section ul li:focus {
    color: rgba(255, 255, 255, 1);
    background-color: transparent;
  }  

  .footer-section a {
    color: inherit;
    text-decoration: none;
  }

  .footer-section a:hover {
    text-decoration: underline;
  }

  .footer-section .social-icons {
    margin-top: 10px;
  }  

  .footer-section .social-icons a {
    margin-right: 10px;
    color: #fff;
  }

  .footer-section .social-icons a:hover {
    color: #f89d13;
  }

  .footer-bottom {
    font-size: 14px;
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    padding-top: 50px;
    padding-bottom: 40px;
    color:rgba(255, 255, 255, 0.5);
  }

  .footer-section ul li a:hover {
    color: inherit;
    text-decoration: none;
  }

  .whatsapp-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #25D366;
    color: #fff;
    font-size: 30px;
    line-height: 50px;
    text-align: center;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
    transition: all 0.3s ease;
    z-index: 300;
    animation: jump 2.5s infinite;
  }
  
  .whatsapp-btn:hover {
    background-color: #128C7E;
    color:#fff;
  }
  
  .fa-whatsapp {
    margin-top: 1px;
  }

  #logo{
    height:80px;
    margin-top:-30px;
  }

  #black-line{
    display: flex;
    height:35px;
    align-items: center;
    background-color: #000;
    color:#fff;
    margin-top:0;
  }

  #black-line p{
    margin-left:100px;
    margin-top:15px;
  }

  #mapContainer {
    height: 400px;
    width:400px;
    margin-top:-390px;
    margin-left: 700px;
}

.contact-me{
  margin-top:-200px;
}


  @keyframes fade-in {
    0% {
      opacity: 0;
      transform: translateY(140px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes jump {
    0% {
      transform: translateY(0);
    }
    50%{
      transform: translateY(-30px);
    }
    100% {
      transform: translateY(0);
    }
  }
  @media (max-width: 767px) {
    .navigation{
      height:70px;
    }

    .navigation .menu-btn i{
      display: block;
      margin-left: 300%;
      color:#000;
      margin-top:-10px;
    }
    #click:checked ~ .menu-btn i:before{
      content: "\f00d";
    }
    .navigation ul{
      position: fixed;
      top:0;
      left: -100%;
      background: #fff;
      height: 100%;
      width: 100%;
      text-align: center;
      display: block;
      transition: all 0.3s ease;
      z-index:1000;
    }
    #click:checked ~ ul{
      left: 0;
    }
    
    label{
      z-index:1001;
    }
    
    .navigation ul li{
      width: 100%;
      margin: 20px 0;
    }
    .navigation ul li a{
      width: 100%;
      margin-left: -100%;
      display: block;
      font-size: 20px;
      transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    #click:checked ~ ul li a{
      margin-left: 0px;
      margin-top:0px;
      padding: 15px;
      color:#000;
      border-bottom:1px solid #000;
    }
    .navigation ul li a.active,
    .navigation ul li a:hover{
      background: none;
      color: #f89d13;
    }

    #logo{
      margin-left:-90px;
      height:60px;
    }

    .main-text{
      font-size: 40px;
    }

    .contact-section{
      margin-top: 450px;
      margin-left:0;
      padding-bottom: 150px;
    }

    .footer-section{
      padding: 10px;

    }

    .navigation li a{
      color:#333;
    }

    .first-section{
      background-position: center center;
    }

    #mapContainer{
      margin-left: 0px;
      margin-top:0px;
      width:100%;
    }

    .none{
      display: none;
    }

    #black-line{
      margin-left: -70px;
      height:30px;
    }

    .whatsapp-btn{
      width: 60px;
      height: 60px;
      z-index:1000;
    }
  }